# .github/workflows/trigger.yml
name: Trigger Terraform Orchestration

on:
  push:
    branches:
      - main
      - github_actions
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  actions: read
  # Write access for security-events is only required for customers looking for MSDO results to appear in the codeQL security alerts tab on GitHub (Requires GHAS)
  security-events: write


jobs:
  terraform:
    name: Terraform CI/CD Orchestration
    # uses: casa-de-vops/terraform-code-standards/.github/workflows/tf_orchestration.yml@main
    uses: ./.github/workflows/tf_orchestration.yml
    secrets: inherit
    with:
      tf_version: 'latest'
      working_directory: 'terraform/'
      environment: 'dev'
      # gh_environment: 'nonprod'
      backend_azure_rm_resource_group_name: 'rg-terraform-ops'
      backend_azure_rm_storage_account_name: 'casadevopsterraform'
      backend_azure_rm_container_name: 'ops-terraform-state'
      backend_azure_rm_key: 'pipeline-test.dev.tfstate'
      plan_file_name: 'terraform.tfplan'
      var_file: '../environments/dev.tfvars'
      cmd_option_args: '-var pipeline_variable="success"'
